body {
    min-height: 100%;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQM2uw5rrxUxMI-QSGfM9yRBz_pnH1zct-RT1P8FHXTMGvf8z-l);
  
    box-shadow: inset 0 0 0 2000px rgba(0, 0 150, 2.5);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
    font-family: Montserrat;
    text-align: center;
    font-size: 40px;
  }
  .text-color {
    color: white;
    line-height: 15px;
  }
  
  p {
    font-family: Montserrat;
    justify-text: left;
    line-height: 10px;
  }
  
  .length {
    width: 420px;
    height: 30px;
  }
  
  .length2 {
    width: 420px;
    height: 90px;
  }
  
  .box {
    background-color: #003366;
    opacity: 90%;
    width: 700px;
    border-radius: 2%;
    margin: auto;
    padding-top: 15px;
    height: 1080px;
  }
  
  #description {
    margin-bottom: 45px;
    margin-top: -5px;
    text-align: center;
  }
  
  .form-style {
    display: block;
  
    padding-left: 120px;
  }
  
  #email-label,
  #name-label,
  #name,
  #email,
  #number-label,
  #number,
  #what-type {
    display: block;
  }
  
  label {
    line-height: 50px;
    color: white;
    font-family: Montserrat;
  }
  
  .input-shift {
    display: inline-block;
    margin-left: 120px;
  }
  
  #place,
  button {
    font-family: Montserrat;
  }
  
  button {
    background-color: grey;
    color: white;
  }
  
  button:hover {
    background-color: green;
  }
  
  textarea {
    margin-bottom: 20px;
  }
  
  @media screen and (max-width:700px){
    .box {
    width: 400px;
  }
    .length, .length2{
      width:200px;
    }
    .form-style{
      padding-left:100px;
    }
    .text-color{
      margin-right:10px;
    }
    h1{margin-left:5px;
    }
  }